body {
    background-color: #333; 
}

#main-header {
    text-align: center;
    margin: 5%;
}

#header1 {
    color: cyan;
}

#header2 {
    color: red;
}

#header3 {
    color: lightgreen;
}

.function-header {
    text-align: center;
    margin: 5%;
    color: cyan;
}

.input-div {
    text-align: center;
}

.positive-result {
    text-align: center;
    color: lightgreen;
}

.negative-result {
    text-align: center;
    color: red; 
}

.standard-result {
    text-align: center;
    color: lightblue;
}

.input-field {
    margin-left: 1.5%;
}

.label {
    font-weight: bold;
    color:cyan;
}

.result-button {
    width: 15%;
    height: 3vw;
    margin: 3%;
    font-weight: bold;
    background-color: cyan;
    border-radius: 3vw;
    border-style: hidden;
}

.back-button {
    width: 20%;
    height: 4vw; 
    margin-top: 10%;
    font-weight: bold;
    background-color: gold;
    border-radius: 4vw;
    border-style: hidden;
}

.func-button {
    width: 130%;
    height: 4vw; 
    margin-top: 10%;
    font-weight: bold;
    background-color: blue;
    border-radius: 4vw;
    border-style: hidden;
}

.in-element {
    display: inline-block;
    margin-top: 3vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 1vw;
    padding: 3vw;
}
.out-element {
    text-align: center;
    margin: 3vw;
    margin-top: 1vw;
    padding: 0;
}