{% extends "layout.html" %}

{% block content %}

    <body>

        <h1>MathBoxIT</h1>

        <div class="out-element">
            <div class="in-element">
                <a href="/miller_rabin_test">Miller-Rabin-test</a>
            </div>
            <div class="in-element">
                <a href="/prime_factors">Prime factors</a>
            </div>
            <div class="in-element">
                <a href="/isbn_test">ISBN-10-Test</a>
            </div>
            <div class="in-element">
                <a href="/euclidean_algorithm">Euclidean algorithm</a>
            </div>
            <div class="in-element">
                <a href="/extended_euclidean_algorithm">Extended_euclidean_algorithm</a>
            </div>
        </div>
    </body>

{% endblock %}
