{% extends "layout.html" %}

{% block content %}

    <body>

        <h1 id="main-header"><span id="header1">Math</span><span id="header2">Box</span><span id="header3">IT</span></h1>

        <h2 id="math-header">Math functions</h2>

        <div class="out-element">
            <div class="in-element">
                <form action="/miller_rabin_test">
                    <button class="func-button" type="submit">Miller_Rabin_Test</button>
                </form>
            </div>
            <div class="in-element">
                <form action="/prime_factors">
                    <button class="func-button" type="submit">Prime factors</button>
                </form>
            </div>
            <div class="in-element">
                <form action="/isbn_test">
                    <button class="func-button" type="submit">ISBN-10-Test</button>
                </form>
            </div>
            <div class="in-element">
                <form action="/euclidean_algorithm">
                    <button class="func-button" type="submit">Euclidean algorithm</button>
                </form>
            </div>
            <div class="in-element">
                <form action="/extended_euclidean_algorithm">
                    <button class="func-button" type="submit">Extended euclidean algorithm</button>
                </form>
            </div>
            <div class="in-element">
                <form action="/crt">
                    <button class="func-button" type="submit">Chinese remainer theorem</button>
                </form>
            </div>
            <div class="in-element">
                <form action="/gaussian_elimination">
                    <button class="func-button" type="submit">Gaussian elimination procedure</button>
                </form>
            </div>
            <div class="in-element">
                <form action="/finite_prime_field_division">
                    <button class="func-button" type="submit">Finite prime field division</button>
                </form>
            </div>
        </div>

        <br>

        <h2 id="binary-header">Binary world</h2>

        <div class="out-element">
            <div class="in-element">
                <form action="/decimal_to_numeral_system">
                    <button class="binary-button" type="submit">Decimal_to_numeral_system</button>
                </form>
            </div>
            <div class="in-element">
                <form action="/numeral_system_to_decimal">
                    <button class="binary-button" type="submit">Numeral system to decimal</button>
                </form>
            </div>
            <div class="in-element">
                <form action="/decimal_to_binary">
                    <button class="binary-button" type="submit">Decimal to binary converter</button>
                </form>
            </div>
            <div class="in-element">
                <form action="/binary_to_decimal">
                    <button class="binary-button" type="submit">Binary to decimal converter</button>
                </form>
            </div>
        </div>

    </body>

{% endblock %}
